.table_bureau {
  /* margin-bottom: auto; */
  margin-left: auto;
  /* margin-top: 10em; */
  margin-right: auto;
  width: 95%;
  padding: 8px;

  border: 1px solid #575757;
}
.table_bureau_td {
  border: 1px solid #575575;
  font-size: 14px;
}
.table_bureau_thead {
  background-color: black;
  color: white;
  height: 40px;
}
.button_bureau {
  margin-bottom: auto;

  margin-top: 2em;

  padding: 8px;
  margin-left: 100em;
}
.table_bureau_text {
  padding: 8px;
  border: 1px solid #575757;
}

.bureau_input_design {
  width: 70px;
  text-align: center;
  border: 1px solid #575757;
}
.bureau_dropdown {
  width: 120px;
  text-align: center;
}

.bureau_border {
  border: 1px solid #575757;
}
.table_bureau th {
  font-size: 14px;
  padding: 8px;
}
.table_bureau_text {
  font-size: 14px;
}
