.table_bureau {
  margin-bottom: auto;
  margin-left: auto;
  margin-top: 40px;
  margin-right: auto;
  width: 95%;
}
.table_bureau_thead {
  background-color: black;
  color: white;
  height: 40px;
}
